/* skip nav styles */
#skip-main {
  left: -999999px;
  position: absolute;
  top: 0;
}
a#skip-main:hover,
a#skip-main:active,
a#skip-main:focus {
  height: 40px;
  left: 0;
  margin: 5px;
  width: 200px;
}

a#skip-main:active,
a#skip-main:focus,
.skip-to:active,
.skip-to:focus {
  background: rgb(248, 249, 250);
  clip: unset;
  clip-path: none;
  display: block;
  height: auto;
  padding: 0.625rem 1.25rem;
  position: static;
  width: auto;
}
#skipNav {
  margin: 0 !important;
}
/* Main navigation styles */

#home,
#find,
#about {
  &:hover {
    @include media-breakpoint-up(md) {
      color: $white !important;
    }
  }
}
.nav-wrapper {
  align-items: center;
  display: flex;
  margin-left: auto;

  .mobile-search-trigger {
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 25px 20px 0;
    text-decoration: none;
  }
}

nav {
  margin: 12px auto 0px !important;
  max-width: 1350px;
  padding: 0 !important;

  &.navbar {
    display: flex !important;
    margin-top: 0 !important;
    padding-top: 10px !important;
  }

  /* Logo */
  .navbar-brand {
    max-width: 291px;
    svg {
      margin: -17px 0px 1px -1px;
      width: 100%;
    }
    &:focus {
      outline-color: #ffffff;
    }
  }

  /* Navigation links */
  .nav-link {
    color: $white;
    font-family: $font-family-bold;
    font-size: 1.4rem;
    padding: 6px 0 0 0 !important;
    text-decoration: none;

    &:hover {
      color: $red;
      text-decoration: underline;
    }
    &.btn-primary {
      background-color: $white !important;
      color: $red-deep !important;
    }
  }

  li.nav-item {
    height: 96px;
    list-style: none;
    margin: 30px 0 0 50px;
    position: relative;

    @include media-breakpoint-up(sm) {
      color: $white;
    }

    &.dropdown {
      a {
        &.nav-link {
          &:hover {
            color: $white;
          }
        }
      }
    }

    &.logged-in:hover {
      a {
        color: $white !important;
        text-decoration: none !important;
        &.nav-link.utility-nav-item:hover {
          text-decoration: underline !important;
        }
      }
    }

    a.nav-link:hover {
      @include media-breakpoint-up(sm) {
        color: $red-deep;
      }
      text-decoration: underline;
    }

    &:hover {
      .dropdown-menu-container,
      .dropdown-menu {
        display: block;
      }
    }
    &.logged-in {
      margin-right: 15px;

      p {
        color: $white;
      }
      a {
        color: $white;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
      }
    }
    /* Dropdown styles */

    /* Speech bubble styles for subnavs */
    .dropdown-menu:before,
    .dropdown-menu:after {
      border: solid 20px transparent;
      border-bottom-color: $white;
      border-top: 0;
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
      position: absolute;
      top: -20px;
      width: 0;
      z-index: 2;
    }

    .dropdown-menu:before {
      border-bottom-color: $gray-200;
      top: -21px;
      z-index: 1;
    }

    a.dropdown-item {
      font-family: $font-family-bold;
      font-size: 1.333rem;
      text-decoration: none;

      &:hover {
        background-color: transparent;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .about {
      left: -133px;
      padding: 30px 100px 39px;
      width: 25rem;

      &:before,
      &:after {
        left: 146px;
      }

      a {
        &:hover {
          color: $red-deep;
          text-decoration: underline;
        }
      }
    }

    .find {
      left: -360px;
      padding: 45px 150px;
      width: 48rem;

      h1 {
        font-size: 2.222rem;
        margin: 0 0 32px;
      }

      &:before,
      &:after {
        left: 368px;
      }

      .nav-tabs {
        border: none;
        justify-content: center;

        .nav-link {
          border: none;
          color: $black !important;
          font-size: 1rem;
          margin: 0 30px 32px 0;
          text-decoration: none !important;
          &:hover {
            color: $red-deep !important;
            text-decoration: underline !important;
          }
          &:focus {
            outline-color: #000;
          }
        }

        .nav-link.active {
          color: $red !important;
          text-decoration: underline !important;
        }
      }
    }
  }
  &.mobile-utility-nav {
    background-color: $gray-400;
    margin-top: 0 !important;
    padding: 10px 15px !important;
    width: 100%;
    li {
      &.nav-item {
        color: $black;
      }
    }

    a {
      color: $primary;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
  }
  /* Login button */
  li.login {
    margin: 30px 0px -11px 45px;

    &:hover {
      a.nav-link {
        color: $white;
        text-decoration: none;
      }
    }
  }

  .nav-item.login a {
    color: $white;
    margin: 0 0 0 0;
    padding: 9px 35px 9px !important;
  }

  .nav-item.login a,
  .nav-item.login .fas {
    font-size: 1.1rem;
  }

  /* Main nav icons */
  .nav-link .fas {
    font-size: 1.2rem;
  }

  /* Event search tabs under "Find" */
  .tab-pane {
    p {
      margin: 0 0 5px;
    }

    .input-group-append {
      .btn {
        font-size: 1rem;
      }
      .btn-primary .fas {
        font-size: 0.8rem;
      }
    }
  }

  /* Mobile specific styles */
  .navbar-toggler {
    padding: 0;

    .navbar-toggler-icon {
      font-size: 2rem;
      height: auto;
      width: 30px;
    }
  }

  #mobile-search {
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none;

    &.active {
      color: $white;
    }
  }

  #mobile-search-input {
    background-color: $gray;
    color: $black;
    cursor: pointer;
    font-weight: 600;
    padding: 25px;
    text-align: left;
  }

  #mobile-toggle {
    .fa-times {
      color: $white;
    }
  }

  /*
   * Since the mobile view has a different button that shows just the event search
   * we add a "is-search" class dynamically to the navigation to show/hide elements
   * appropriately.
   */
  .is-search {
    #mobile-search-input,
    #home,
    #find,
    #about,
    .about,
    .dropdown-menu:after,
    .dropdown-menu:before,
    .dropdown-menu.about,
    #mobile-login {
      display: none !important;
    }

    .dropdown-menu.find {
      display: block !important;
    }

    .find {
      border: none !important;
      margin: 0 !important;
      padding: 40px 20px !important;
      position: static !important;
      width: 100% !important;
    }

    li.nav-item {
      margin: 0 !important;
    }
  }

  #mobile-login a {
    border-top: solid 1px #e3e3e3;
    color: $red !important;
    font-size: 1rem !important;
    font-weight: 600;
    margin: 0 20px 0 0;
    padding: 18px 0 !important;
  }
}

.nav-item--find {
  a {
    cursor: pointer;
  }
  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}
