.landing-hero {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.landing-hero__photo {
  height: 200px;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(md) {
    height: 385px;
  }
  @include media-breakpoint-up(xl) {
    height: 685px;
  }
  // background-image: url(https://www2.heart.org/images/content/pagebuilder/fieldday-landing-hero.jpg);
  // background-position: center;
  // @include media-breakpoint-up(lg) {
  //   background-position: center center;
  // }
  // background-size: cover;
  // background-repeat: none;

  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.landing-hero__content {
  text-align: center;
  width: 100%;
  @include media-breakpoint-up(lg) {
    background: rgba(73, 80, 87, 0.5);
  }
  .container {
    margin: auto;
  }
  h1 {
    color: #c10e21;
    font-size: 1.325em;
    @include media-breakpoint-up(xl) {
      font-size: 5.625em;
    }
    @include media-breakpoint-up(lg) {
      color: #fff;
    }
  }
  p {
    font-size: 1em;
    @include media-breakpoint-up(xl) {
      font-size: 1.5em;
    }
    @include media-breakpoint-up(lg) {
      color: #fff;
    }
  }
  strong {
    color: $red;
  }
  @include media-breakpoint-up(lg) {
    bottom: 0;
    position: absolute;
  }
}

.landing-about {
  background-color: $red-deep;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
    padding-top: 80px;
  }
  .landing-about__container {
    padding-left: 30px;
    padding-right: 30px;
    @include media-breakpoint-up(xl) {
      max-width: 1640px;
    }
  }
  h2 {
    color: $white;
    display: inline-block;
    font-size: 1.125em;
    margin: 45px 0;
    @include media-breakpoint-up(xl) {
      font-size: 2.2em;
    }
  }
  .card {
    border-radius: 0;
    h3 {
      color: $red;
      font-size: 1.125em;
      line-height: 1;
      margin: 0;
      text-align: center;
      @include media-breakpoint-up(xl) {
        font-size: 1.667em;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 32%;
    }

    svg {
      margin-bottom: 25px;
    }
  }
  .card-header {
    background-color: $white;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: 16px;
    padding-top: 16px;
    @include media-breakpoint-up(xl) {
      padding: 28px 0;
    }
  }
  .card-body {
    @include media-breakpoint-up(xl) {
      padding: 45px;
    }
  }
  p {
    display: inline-block;
    font-size: 0.875em;
    line-height: 1.25em;
    margin-bottom: 25px;
    @include media-breakpoint-up(xl) {
      font-size: 1.333em;
      line-height: 1.5;
      text-align: left;
    }
  }
  a {
    border: 2px solid $red;
    border-radius: 60px;
    color: $red;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 8px 24px;
    text-decoration: none;
    width: 200px;
    @include media-breakpoint-up(xl) {
      min-width: 260px;
      padding: 12px 28px;
      text-align: center;
    }
  }
}

.form-control {
  /*border-color: #ccc;*/
  border: 1px solid #878787;
}

section#search {
  scroll-margin-top: 5rem;

  @include media-breakpoint-up(lg) {
    scroll-margin-top: 7rem;
  }
}

.event-city-search {
  background-color: #fff;
  .container {
    max-width: 812px;
  }
  h2 {
    color: $red;
    font-size: 1.125em;
    @include media-breakpoint-up(xl) {
      font-size: 2.2em;
    }
  }
  .form-group-divider {
    align-self: center;
    font-size: 1.125em;
    font-weight: bold;
  }
  // .event-state-select__button {
  //   font-weight: 600;
  //   color: #fff;
  //   background-color: $red;
  //   right: 0;
  //   top: 0;
  //   height: 55px;
  //   padding-top: 0.4em;
  //   border-top-right-radius: 0.25rem;
  //   border-bottom-right-radius: 0.25rem;
  //   position: absolute;
  //   pointer-events: none;
  //   text-align: center;
  //   font-size: 1.5em;
  //   width: 16.667%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   cursor: pointer;
  //   border: none;
  //   &:hover {
  //     background-color: $red-deep;
  //   }
  //   &:focus {
  //     -webkit-box-shadow: 0 0 0 0.2rem rgba(193, 14, 33, 0.5) !important;
  //     box-shadow: 0 0 0 0.2rem rgba(193, 14, 33, 0.5) !important;
  //     outline: none;
  //   }
  // }

  .event-state-select-container {
    position: relative;

    &::before {
      align-items: center;
      background-color: $red;
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      color: #fff;
      content: "\f0d7";
      display: flex;
      font-family: "Font Awesome 5 Pro";
      font-size: 1.25em;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      height: 55px;
      justify-content: center;
      padding-top: 0.4em;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-rendering: auto;
      top: 0;
      width: 16.667%;
      z-index: 10;
    }
  }

  .event-zip-search-submit {
    background: $red;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.25rem;
    border-color: #c11d20;
    border-top-left-radius: 0;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 1.25em;
    height: 55px;
    padding: 16px;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
      background-color: $red-deep;
    }
    &.button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .form-control {
    background-color: #f8f9fa;
  }
}

.event-results {
  .event-results__company {
    margin-bottom: 40px;
  }
  .h3 {
    display: block;
    font-size: 1em;
    font-weight: 500;
  }

  .event-date-range {
    display: block;
    margin-top: 0.5rem;
    &:empty {
      display: none;
    }
  }

  // time {
  //   margin-bottom: 0.5rem;
  //   margin-top: -0.25rem;
  //   min-width: 100%;
  //   &:empty {
  //     display: none;
  //   }
  // }
}

.button-primary,
.button-primary:visited,
.button-primary:link {
  background-color: $red;
  border: 2px solid $red;
  border-radius: 60px;
  color: $white;
  display: inline-block;
  font-weight: bold;
  min-width: 260px;
  padding: 16px 32px;
  text-decoration: none;
  &.button--inverse {
    background-color: transparent;
    color: $red;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.landing-participant-search {
  background-color: $team-roster-bg-gray;
  border-top: 3px solid $red;
  h2 {
    color: $red;
  }
  input {
    background-color: #fff !important;
  }
  .alert {
    margin-top: 35px;
  }
  .container {
    max-width: 821px;
  }
  .nav-tabs {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
    a {
      font-size: 0.667em;
      font-weight: 600;
      padding: 1.25em 2.5em;
      @include media-breakpoint-up(md) {
        font-size: 1em;
      }
    }
  }
  .nav-tabs .nav-link {
    border-bottom: none;
    color: #495057;
    text-decoration: none;
    &.active {
      color: #c10e21;
      text-decoration: underline;
    }
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: none;
    &:hover {
      border-bottom: none;
    }
  }
  label {
    font-size: 0.875em;
  }
  .btn-primary {
    height: 55px;
  }
  input[type="text"] {
    height: 55px;
  }
}

.landing-participant-search__results,
.event-results__company {
  .btn-primary {
    line-height: 55px;
    width: 200px;
  }
}

.landing-video {
  padding-bottom: 32px;
  padding-top: 32px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}

.global-video__wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.landing-top-teams {
  .row {
    margin-top: -30px;

    @include media-breakpoint-only(sm) {
      margin-top: -20px;
    }
  }

  .col {
    flex: 0 0 auto;
    margin-top: 30px;
    width: 50%;

    @include media-breakpoint-up(sm) {
      width: 20%;
    }

    @include media-breakpoint-only(sm) {
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .card {
    padding: 0.5rem;
  }

  .card-body {
    padding: 0.5rem 0 0;
    text-align: center;
  }
}

.landing-visual-banner {
  background-color: $red;
  background-image: var(--banner-image, url("https://www2.heart.org/images/content/pagebuilder/aha-fieldday-landing-banner_2x.jpg"));
  background-position: top center;
  background-size: cover;
  height: 200px;
  margin-bottom: 32px;
  margin-top: 32px;
  @include media-breakpoint-up(xl) {
    background-attachment: fixed;
    background-position: center;
    height: 300px;
    height: 700px;
    margin-bottom: 86px;
    margin-top: 86px;
  }
  img {
    display: none;
  }
}

.global-sponsors {
  width: 95%;
  h2 {
    font-size: 1.333em;
  }
}

.global-promo {
  margin-bottom: 20px;
  .container-fluid {
    background-image: url("https://www2.heart.org/images/content/pagebuilder/aha-fieldday-landing-promo-mobile_2x.jpg");
    background-position: cover;
    background-repeat: none;
    background-size: cover;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      background-image: url("https://www2.heart.org/images/content/pagebuilder/aha-fieldday-landing-promo_2x.jpg");
    }
  }
  .btn {
    font-size: 0.875em;
    min-width: 230px;
    padding: 13px;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: 1em;
    }
  }
}

.global-promo__wrapper {
  padding: 2em 1.5em;
  position: relative;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    padding: 4em 3em;
  }
  h2,
  p {
    color: #fff;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 3em;
    @include media-breakpoint-up(lg) {
      font-size: 1.75em;
      margin-bottom: 1em;
    }
  }
  p {
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 1em;
    @include media-breakpoint-up(lg) {
      font-size: 1.25em;
    }
  }
}
.global-promo__overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.global-promo__icon {
  display: block;
  height: auto;
  margin-bottom: 20px;
  width: 80px;
  @include media-breakpoint-up(lg) {
    width: 120px;
  }
}
